body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    overflow: hidden;
}

h1{
    display: flex;
    align-items: center;
    margin: auto;
}

input {
    width: 750px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

.coast{
    width: 762px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

.proNation{
    width: 762px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

.proMxNation{
    width: 762px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

.proMxSeries{
    width: 762px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

button {
    margin: 20px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #000000;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

p.inputs{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: right;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

p.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: auto;
}

button.generateButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#sxPro{
    display: block;
}

#sxProTC{
    display: none;
}

#sxAm{
    display: none;
}

#sxAmTC{
    display: none;
}

#mxPro{
    display: none;
}

#mxAm{
    display: none;
}

#vars{
    display: none;
}

#finished{
    position: absolute;
    top: 800px;
}

#error{
    position: absolute;
    top: 850px;
}

.nav{
    display: grid;
    justify-items: center;
    position: absolute;
    top: 0px;
    border: 20px;
}

.boxes{
    position: absolute;
    top: 100px;
    border: 5px;
}